body {
  font-family: Arial, sans-serif;
  background-color: #FEFCFF;
}

h1 {
  color: #8907F0;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  padding: 16px;
  background-color: #FEFCFF;
  margin: 0 auto;
  margin-top: 100px;

}

.row {
  margin-bottom: 10px;
  margin-top: 25px;
}

.form-label {
  color: #292929;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

input[type="text"] {
  width: 94%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  margin-top: 10px;
}

.btn-primary {
  margin-top: 70px;
  width: 100%;
  padding: 8px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  background: #8907F0;
}

.btn-primary:hover {
  background-color: #8907F0;
}