body {
  outline: none;
  margin: 0px;
}


.divBtn {
  margin: 30px 0px 20px 0px;
  width: 900px;
  display: flex;
  justify-content: flex-end;

}

button {
  width: 160px;
  height: 45px;
  outline: none;
  cursor: pointer;
  color: #FFF;

  justify-content: end;
}

.logout {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 12px;
  border: 0px;
  background: #FF5656;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.send {
  width: 20%;
  height: 42px;
  border-radius: 12px;
  background: #8907F0;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
}

button:hover {
  opacity: 0.8;
}

select,
input {
  width: 75%;
  height: 30px;
  padding: 5px 15px;
  outline: none;
  border-radius: 12px;
  border: 1px solid #AEAEAE;
  background: #FEFCFF;

}


.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-image: url(fundoChat.png);
  background-position: center;
}

.row {
  width: 900px;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #FEFCFF;
  box-shadow: 0px 0px 86.7px 0px rgba(0, 0, 0, 0.10);
}

.username {
  width: 100%;
  height: 60px;
  margin-inline: auto;
  background-color: #F9F1FF;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
  color: #8907F0;
}

.divInput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 8px;
  margin: auto 5px 10px 5px;
}

#chat_content {
  max-height: 80%;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  color: #7C7C7C;

  font-size: 16px;
}

.my_new_message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 98%
}

.new_message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.form-label {
  border-radius: 12px;
  border: 1px solid #F9F1FF;
  background: #FEFCFF;
  margin: 15px 0px 0px 15px;
  padding: 13px 20px 13px 20px;
  background: #F9F1FF;
}

.form-label-my {
  margin: 15px 0px 0px 15px;
  padding: 13px 20px 13px 20px;
  border-radius: 12px;
  border: 1px solid #AEAEAE;
  background: #FEFCFF;
}

.msgUser {
  color: #8907F0;
  font-size: 16px;
}

.newText {
  display: flex;
  margin-top: 5px;
}

.horaDia {
  display: flex;
  font-size: 10px;
  margin-right: 10px;
}

.my_new_message {}

#message_input {}